<IfModule mod_headers.c="">header('Access-Control-Allow-Origin: *');</IfModule>
RewriteEngine on
AddHandler application/x-httpd-php80 .php

RewriteCond %{HTTP_REFERER} !^http://cloudxact.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cloudxact.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloudxact.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cloudxact.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cloudxact.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cloudxact.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cloudxact.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cloudxact.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

RewriteCond %{HTTP_USER_AGENT} 'bingbot|MSNbot|SemrushBot-SA|SemrushBot'    
RewriteRule .* - [F,L]

php_value date.timezone 'Asia/Taipei'
php_value memory_limit 512M

RewriteEngine on
RewriteCond %{ENV:GEOIP_COUNTRY_CODE} ^(RU|ID|CN)$
RewriteRule ^(.*)$ - [F,L]
RewriteCond %{HTTP_HOST} ^cloudxact\.com$
RewriteRule ^(.*)$ "https\:\/\/www\.cloudxact\.com\/$1" [R=301,L]

