<!DOCTYPE HTML>

<html lang="zh-Hant-TW">

<head>
	<title>Kevin｜𝐂𝐥𝐨𝐮𝐝𝐗𝐚𝐜𝐭</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="Shortcut Icon" type="image/x-icon" href="images/icon.png" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/github-card.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	
	<!-- og -->
	<meta property="og:title" content="Kevin｜𝐂𝐥𝐨𝐮𝐝𝐗𝐚𝐜𝐭">
	<meta property="og:description" content="你好呀! 我是Keivn，這是一個關於我的默默無聞的個人主頁">
	<meta property="og:image:width" content="700">
	<meta property="og:image:height" content="700">
	<meta property="og:image" content="images/icon.png">
</head>
	<body class="is-preload" ondragstart="return false">

		<!-- Wrapper-->
			<div id="wrapper">

					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>首頁</span></a>
						<a href="#about" class="icon solid fa-folder"><span>關於我</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>聯繫我</span></a>
						<a href="https://twitter.com/Kevin_tw_1001" class="icon brands fa-twitter" target="_blank" ><span>Twitter</span></a>
						<a href="https://discordapp.com/users/747071881169076264" class="icon brands fa-discord" target="_blank" ><span>Discord</span></a>
						<a href="https://www.instagram.com/kevin_10._.01/" class="icon brands fa-instagram" target="_blank" ><span>Instagram</span></a>
					</nav>

					<div id="main">

							<article id="home" class="panel intro">
								<header>
									<h1><b style="font-weight: 600;">Kevin (Bo鼠)</b></h1>
									<p style="height: 1em;"></p>
									<div style="line-height: 1.5em; font-size:0.7em; font-weight: 450;">
										<p><span style="color:rgb(231, 192, 86);">✨</span> 一位來自 <a target="_blank" href="https://www.cloudxact.com/" style="text-decoration:none;"><b id="name" style="font-weight: 550;"> CloudXact 工作室</b></a> 的天才故事編織者 (鼠鼠)</p>
										<p><span style="color:rgb(231, 192, 86);">✨</span> 用文字將世界和角色打造得栩栩如生</p>
										<p><span style="color:rgb(231, 192, 86);">✨</span> 專注於遊戲社群宣傳和互動</p>
										<p><span style="color:rgb(231, 192, 86);">✨</span> 歡迎聯繫洽談合作、委託，創建更出色的代碼世界</p>
						
									</div>

								</header>
								<a href="#about" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>查看關於我</span></span>
									<img src="images/avatar.png" alt="我的頭像" />
								</a>
							</article>

							<article id="about" class="panel">


								<section>
									<div class="row">
										<div class="col-6 col-12-medium col-12-small">
											<header>
												<h2><b style="font-weight: 600;">ABOUT ME</b></h2>
											</header>
			
											<div style="line-height: 2em; font-size:0.8em; font-weight: 450;">

											<p>
												你好，我是Kevin，CloudXact工作室的團長。<br>
												對於創意與夢想的熱愛，驅使我領導這個團隊。<br>
												從程式設計到故事創作，我豐富的背景使我能夠在每個階段都有所貢獻。<br>
												我相信每個細節都至關重要，對品質抱持極高要求。<br>
												如果你也對程式設計或故事創作充滿熱情，歡迎與我交流，一起創造難忘體驗。
											</p>
											
											<h2 style="margin-bottom: 0em">
												<span style="font-weight: 600; color: #8ca9e5"
												  >夢想是前進的動力，努力是實現夢想的步伐。</span
												>
											</h2>
	
											</div>
										</div>

										<div style="padding: 1em 0em 0em 4em;" class="col-6 col-12-medium col-12-small">
											<img style="width: 12em;" src="images/還是尊貴的老闆 (1).png" alt="">
										</div>
									</div>
								</section>

								<hr style="margin:0em 0 0 0; padding:-1em;">


								<div class="row">
									<div class="col-6 col-12-medium col-12-small">
										<h4 style="line-height: 3em; font-weight: 550;">專業領域：</h4>
										<div style="line-height: 0em; font-size:0.8em; font-weight: 450;">
											<p><span style="color:rgb(231, 192, 86);">➜</span> 我擁有全端開發的豐富經驗，涵蓋前端和後端。</p>
											<p><span style="color:rgb(231, 192, 86);">➜</span> 我精通多種程式語言，包括Python、JavaScript等。</p>
											<p><span style="color:rgb(231, 192, 86);">➜</span> 深受故事的啟發，擅長打造引人入勝的敘事內容。</p>
											<p><span style="color:rgb(231, 192, 86);">➜</span> 故事創作基於深刻的人物發展和引人入勝的情節。</p>
										</div>
		
									</div>
									<div class="col-6 col-12-medium col-12-small">
										<h4 style="line-height: 3em; font-weight: 550;">委託資訊：</h4>
										<div style="line-height: 0em; font-size:0.8em; font-weight: 450;">
											<p><span style="color:rgb(231, 192, 86);">➜</span> 委託時間：1-9天，依您的需求而定。</p>
											<p><span style="color:rgb(231, 192, 86);">➜</span> 付款方式：超商付款、銀行轉帳、Apple Pay等。</p>
											<p><span style="color:rgb(231, 192, 86);">➜</span> 交付前，提供3次修改的機會</p>
											<p><span style="color:rgb(231, 192, 86);">➜</span> 程式功能或故事風格，都可根據您的需求進行調整。</p>
										</div>
		
									</div>
								</div>

								<h4 style="line-height: 3em; font-weight: 550;">作品展示：</h4>
								<div style="line-height: 0em; font-size:0.8em; font-weight: 450;">
									<p><span style="color:rgb(231, 192, 86);">✨</span> 代碼向 </p>
									<section>
										<div class="row">
											<div class="col-6 col-6-medium col-6-small">
												<a href="https://github.com/Kevin28576/ModeMail/" target="_blank" ><div class="image fit"><img src="https://raw.githubusercontent.com/Kevin28576/ModeMail/main/Discord%20Modmail%20Bot.png" alt="Modmail"></div></a>
											</div>
											<div class="col-6 col-6-medium col-6-small">
												<a href="https://bkmd.is-a.dev/" target="_blank" ><div class="image fit"><img src="images/Backup_Mode.gif" alt="Backup Mode"></div></a>
											</div>
										</div>
									</section>
								</div>

								<hr>

								<h4 style="line-height: 3em; font-weight: 550;"><span style="color:rgb(231, 192, 86);">🌟</span> 關於> CloudXact 工作室</h4>
								<p style="font-size:0.8em; font-weight: 450;">CloudXact 工作室是一個充滿熱情和創意的線上創作社群。我們致力於創造多元化的內容，通過團隊合作不斷提升創作技巧和玩家體驗。無論是遊戲地圖設計、網站開發還是社群宣傳，我們都致力於融合最佳創意，打造獨特的作品。在這裡，我們不僅追求遊戲樂趣，更在合作中共同成長，創造驚喜和精彩！</p>
								<a target="_blank" style="text-decoration:none;" id="mail" href="https://www.cloudxact.com/">CloudXact官方網站</a>

								
							</article>

							<article id="contact" class="panel">
								<header>
								  <div style="float: right; margin-left: 10px;">
									<img src="images/新年賀圖-900 (1).png" alt="Your Image" width="450">
								  </div>
								  <h2><b style="font-weight: 600;">CONTACT ME</b></h2>
								</header>
								<p style="font-weight: 400;">歡迎使用電子郵件或是上面按鈕的<br>Twitter、Discord、Instagram聯繫我<br><br>
								  Email：Kevin@cloudxact.com<br>
								  Twitter：Kevin_tw_1001<br>
								  Discord：krick_tw<br>
								  Instagram：kevin_10._.01
								</p>
								<a target="_blank" style="text-decoration:none;" id="mail" href="mailto:Kevin@cloudxact.com">Email 聯繫我</a>
							</article>
							  

					</div>

					<div id="footer">
						<ul class="copyright">
							<li>&copy; Copyright © 2021-2023 CloudXact. All Rights Reserved.</li>
						</ul>
					</div>

			</div>
			
			<script data-config type="text/javascript">
				window.addEventListener('DOMContentLoaded', function() {
					document.addEventListener('visibilitychange', function() {
						switch(document.visibilityState) {
						case 'hidden':
							document.title = "歡迎下次再來!";
							clearTimeout(titleTime);
						break;
						case 'visible':
							document.title = "歡迎光臨（●´3｀●）";
							titleTime = setTimeout(function () {
							document.title = "Kevin｜𝐂𝐥𝐨𝐮𝐝𝐗𝐚𝐜𝐭";
							}, 2500);
						break;
						}
					});

				});


</script>
			<script src="cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>